.header-nav {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    height: $header-height;

    .brand-search-wrapper {
        order: 1;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        align-content: center;

        .nav-brand {
            order: 1;
        }

        .nav-search {
            order: 2;
            max-width: 180px;

            .search-bar {
                background: url(assets/images/search.png) no-repeat scroll 2px 2px;
                padding-left:30px;
                max-width: inherit;
            }
        }
    }

    .button-wrapper {
        order: 2;
    }
}