.header-nav {
    max-width: $max-app-width;
    margin-left: auto;
    margin-right: auto;
    padding-right: $desktop-padding;
    padding-left: $desktop-padding;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    height: $header-height;

    .brand-search-wrapper {
        order: 1;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        align-content: center;

        .nav-brand {
            order: 1;
            margin-right: $tablet-padding;
        }

        .nav-search {
            order: 2;
        }
    }

    .button-wrapper {
        order: 2;

        .add-dog {
            font-size: $font-size-md;
        }
    }
}