.info-section {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-flow: wrap;

    .tile-wrapper {
        .dog-image-wrapper {
            height: 160px;
            width: 280px;
            border-radius: $border-radius;
        }
    }
}

.grid {
    .tile-wrapper {
        margin: $tablet-padding $handset-padding;
        cursor: pointer;
        position: relative;
        box-sizing: border-box;
        border-radius: $border-radius;
        box-shadow: 0px 5px 5px #888888;

        .dog-information-wrapper {
            position: absolute;
            bottom: 0;
            width: 100%;
            padding-top: $min-padding;
            padding-bottom: $tablet-padding;
            padding-left: $tablet-padding;
            background: linear-gradient(to top, black, transparentize(black, 1));
            border-radius: 0 0 5px 5px;

            .dog-name {
                color: $primary-text;
                font-size: $font-size-lg;
            }

            .dog-owner-info {
                color: $secondary-text;
                font-size: $font-size-md;
            }

            .dog-button {
                display: none;
            }
        }
    }
}

.list {
    .tile-wrapper {
        // display: flex;
        // flex-direction: row;
        // justify-content: space-between;
        // align-items: center;
        // align-content: center;

        .dog-image-wrapper {
            // order: 1;

            img {

            }
        }

        .dog-information-wrapper {
            // order: 2;
            // display: flex;
            // flex-direction: column;
            // justify-content: space-between;
            // align-items: center;
            // align-content: center;

            .dog-name {
                // order: 1;
            }

            .dog-owner-info {
                // order: 2;
            }

            .dog-button {
                // order: 3;
            }
        }
    }
}


